@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> SRC Travel Agencies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="~/ClientTemplate/css/bootstrap.css" rel="stylesheet" />
    <link href="~/ClientTemplate/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/ClientTemplate/css/prettyPhoto.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/ClientTemplate/css/style.css" rel="stylesheet">

    <!-- Theme skin -->
    <link id="t-colors" href="~/ClientTemplate/color/default.css" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/logobus.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/logobus.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/logobus.png" />
    <link rel="apple-touch-icon-precomposed" href="~/ClientTemplate/ico/logobus.png" />
    <link rel="shortcut icon" href="~/ClientTemplate/ico/logobus.png" />

    <!-- =======================================================
      Theme Name: Remember
      Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->


</head>

<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="top">
            </div>
            <div class="container">

                <div class="row nomargin">
                    <div class="span4">
                        <div class="logo">
                            <h1><a href="index.html"><i class="icon-star"></i> SRC Travel Agencies</a></h1>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="navbar navbar-static-top">
                            <!--Start navigation-->
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        <li class="active">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Booking </a>
                                        </li>
                                        <li>
                                            <a href="#about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Contact </a>
                                        </li>
                                        <li>
                                            <a href="#"><em>Login</em></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
        <section class="content">
            @RenderBody()
        </section>
    
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="widget">
                            <div class="footer_logo">
                                <h3><a href="index.html"><i class="icon-star"></i>SRC Travel Agencies</a></h3>
                            </div>
                            <address>
                                <strong>SRC Travel Agencies company</strong><br>
                                590 Cach Mang Thang 8, Ward 11, District 3,<br>
                                Ho Chi Minh
                            </address>
                            <p>
                                <i class="icon-phone"></i> (84) 522-940-812 - (84) 397-027-230 <br>
                                <i class="icon-envelope-alt"></i> Team4@Gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Browse pages</h5>
                            <ul class="link-list">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Ticket Booking</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="widget">
                            <h5 class="widgetheading">Bus image illustrationr</h5>
                            <div class="flickr_badge">
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh ngoài xe bus.jpg" />
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh ngoài xe bus 2.jpg" />
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh xe bus vip.jpg" />
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\Bus luxury.jpg" />
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\Bussangchanh.jpg" />
                                <img src="~/ClientTemplate/img\Image minh họa xe bus\bus bình dân.jpg" />
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p><span>&copy; SRC Travel Agencies Inc. All right reserved</span></p>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

    <!-- javascript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/ClientTemplate/js/jquery.js"></script>
    <script src="~/ClientTemplate/js/jquery.easing.1.3.js"></script>
    <script src="~/ClientTemplate/js/bootstrap.js"></script>
    <script src="~/ClientTemplate/js/modernizr.custom.js"></script>
    <script src="~/ClientTemplate/js/toucheffects.js"></script>
    <script src="~/ClientTemplate/js/google-code-prettify/prettify.js"></script>
    <script src="~/ClientTemplate/js/jquery.prettyPhoto.js"></script>
    <script src="~/ClientTemplate/js/portfolio/jquery.quicksand.js"></script>
    <script src="~/ClientTemplate/js/portfolio/setting.js"></script>
    <script src="~/ClientTemplate/js/animate.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="~/ClientTemplate/js/custom.js"></script>


</body>

</html>

