
@{
    ViewBag.Title = "AddGroupBlockTime";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h2>Add Group Block Time</h2>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <b>Bus</b>
                        <select class="form-control show-tick">
                            <option value="">00001</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>

                        <b>Block Time</b>
                        <select class="form-control show-tick">
                            <option value="">6:00 Sai Gon - Vung Tau</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>

                        
                        <button type="button" class="btn btn-primary m-t-15 waves-effect">Add group block time</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

