
@{
    ViewBag.Title = "Route";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Route Management
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">autorenew</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Bus Type</th>
                                <th>Desparture Time</th>
                                <th>Pick up</th>
                                <th>Drop off</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Bus Type</th>
                                <th>Desparture Time</th>
                                <th>Pick up</th>
                                <th>Drop off</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <tr>
                                <td>Express</td>
                                <td>06:30 AM<br />(6:00)</td>
                                <td>Sai Gon</td>
                                <td>Dong Nai</td>
                                <td>4/11/2019</td>
                                <td>$10</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Luxury</td>
                                <td>07:30 AM<br />(7:30)</td>
                                <td>Sai Gon</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$15</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Volvo</td>
                                <td>07:30 AM<br />(7:30)</td>
                                <td>Sai Gon</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$20</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Express</td>
                                <td>07:30 AM<br />(7:30)</td>
                                <td>Vung Tau</td>
                                <td>Sai Gon</td>
                                <td>4/11/2019</td>
                                <td>$10</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Volvo</td>
                                <td>08:00 AM<br />(8:00)</td>
                                <td>Vung Tau</td>
                                <td>Sai Gon</td>
                                <td>4/11/2019</td>
                                <td>$20</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Express</td>
                                <td>08:00 AM<br />(8:00)</td>
                                <td>Dong Nai</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$10</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Volvo</td>
                                <td>09:00 AM<br />(9:00)</td>
                                <td>Sai Gon</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$20</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Luxury</td>
                                <td>09:30 AM<br />(9:30)</td>
                                <td>Sai Gon</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$15</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Express</td>
                                <td>10:00 AM<br />(10:00)</td>
                                <td>Sai Gon</td>
                                <td>Dong Nai</td>
                                <td>4/11/2019</td>
                                <td>$10</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Volvo</td>
                                <td>10:30 AM<br />(10:30)</td>
                                <td>Sai Gon</td>
                                <td>Vung Tau</td>
                                <td>4/11/2019</td>
                                <td>$20</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>

                            <tr>
                                <td>Volvo</td>
                                <td>11:00 AM<br />(11:00)</td>
                                <td>Vung Tau</td>
                                <td>Sai Gon</td>
                                <td>4/11/2019</td>
                                <td>$20</td>
                                <td><i class="material-icons">mode_edit</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
