<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <div class="footer_logo">
                        <h3><a href="index.html"><i class="icon-star"></i>SRC Travel Agencies</a></h3>
                    </div>
                    <address>
                        <strong>SRC Travel Agencies company</strong><br>
                        590 Cach Mang Thang 8, Ward 11, District 3,<br>
                        Ho Chi Minh
                    </address>
                    <p>
                        <i class="icon-phone"></i> (84) 522-940-812 - (84) 397-027-230 <br>
                        <i class="icon-envelope-alt"></i> Team4@Gmail.com
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h5 class="widgetheading">Browse pages</h5>
                    <ul class="link-list">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Ticket Booking</a></li>
                    </ul>

                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h5 class="widgetheading">Bus image illustrationr</h5>
                    <div class="flickr_badge">
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh ngoài xe bus.jpg" />
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh ngoài xe bus 2.jpg" />
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\ảnh xe bus vip.jpg" />
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\Bus luxury.jpg" />
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\Bussangchanh.jpg" />
                        <img src="~/ClientTemplate/img\Image minh họa xe bus\bus bình dân.jpg" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p><span>&copy; SRC Travel Agencies Inc. All right reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
</footer>
