<header>
    <div class="top">
    </div>
    <div class="container">

        <div class="row nomargin">
            <div class="span4">
                <div class="logo">
                    <h1><a href="index.html"><i class="icon-star"></i> SRC Travel Agencies</a></h1>
                </div>
            </div>
            <div class="span8">
                <div class="navbar navbar-static-top">
                    <!--Start navigation-->
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Route","Client")">Booking </a>
                                </li>
                                <li>
                                    <a href="#about">About Us</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Login")"><em>Login</em></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
